.Ocademy {
	@apply bg-gray_700;
}

.Ocademy path {
	@apply fill-gray_900;
}

.Orchives {
	@apply bg-gray_700;
}

.Orchives path {
	@apply fill-gray_900;
}

.UserLoggedIcon {
	background: #1E213A 0% 0% no-repeat padding-box;
	width: 50px;
	height: 50px;
	background: transparent linear-gradient(321deg, #F1D740 0%, #F4883B 18%, #BF03B1 24%, #014EF9 78%, #22D3F8 100%) 0% 0% no-repeat padding-box;
	@apply flex;
	@apply items-center;
	@apply justify-center;
	@apply rounded-full;
	@apply cursor-pointer;
}

.ToolsIcon {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	cursor: pointer;
	@apply my-4;
}

.Home {
	background: transparent linear-gradient(135deg, #22D3F8 0%, #014EF9 48%, #0031A1 100%) 0% 0% no-repeat padding-box;
}

.Home:hover path {
	@apply fill-gray_800;
}

.Container {
	@apply fixed;
	@apply bg-gray_900;
	@apply px-6;
	@apply py-4;
	@apply bottom-0;
	@apply w-full;
	@apply top-auto;
	@apply lg:top-16;
	@apply lg:h-screen;
	@apply lg:w-24;
	@apply z-30;
}
