.BtnMain,
.BtnSecondary {
	border-radius: 50px;
	@apply flex;
	@apply items-center;
	@apply justify-center;
	@apply no-underline;
	@apply text-white;
	@apply text-xl;
	@apply cursor-pointer;
	@apply px-10;
	@apply py-4;
}

.BtnSecondary {
	background-color: transparent;
	border: 1px solid #22D3F8;
}

.BtnSecondary:hover {
	background: transparent linear-gradient(91deg, #22D3F8 0%, #FB33D3 100%) 0% 0% no-repeat padding-box;
}

.BtnMain {
	background: transparent linear-gradient(104deg, #22D3F8 0%, #014EF9 31%, #002988 100%) 0% 0% no-repeat padding-box;
}

.Body {
	background: linear-gradient(-45deg, #421435, #22184D);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.BtnMain:hover {
	background: transparent linear-gradient(104deg, #22D3F8 0%, #014EF9 89%, #0D51EB 100%) 0% 0% no-repeat padding-box
}

p {
	@apply text-xl;
}

h2 {
	@apply mb-10;
	@apply text-3xl;
	@apply leading-tight;
}

section {
	@apply mb-28;
}

.NavigationArrows path {
	@apply fill-white;
}

.NavigationArrows svg {
	background: #383C5B;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 0 10px;
	justify-content: center;
}

.NavigationArrow svg:hover {
	background-color: #908c9e;
}

.Zero,
.One,
.Two,
.Three,
.Four,
.Five {
	background-color: #22D3F8;
	height: 1rem;
	border-radius: 8px;
}

.Zero {
	width: 3%;
}

.One {
	width: 20%;
}

.Two {
	width: 40%;
}
.Three {
	width: 60%;
}
.Four {
	width: 80%;
}

.Five {
	width: 100%;
}

.Bar {
	content: ' ';
	width: 100%;
	height: 1rem;
	background-color: #5D617D;
	border-radius: 8px;
	@apply mb-5;
}

.ToolsIcon {
	padding: 8px;
	width: 37px;
	height: 37px;
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	cursor: pointer;
}

.ToolsIcon path {
	width: 10px;
	height: 10px;
}

.swiper-controllers {
	display: flex;
	justify-content: space-between;
	width: 100px;
}

	>div:not(.swiper-button-disabled) {
		background-color: #4e4466;

		path {
			fill: #ffffff;
		}
	}

.left, .right {
	background: #383C5B;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: #908c9e;
	}

path {
			fill: $white;
		}
}

.milestone {
	.main {
		display: flex;
		align-items: center;
		height: 65px;
	}

	h6 {
		color: #7F849C;
		text-align: center;
		font-size: 0.9rem;
		margin: 0;
	}

	.icons {
		width: 1.5rem;
		height: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		margin-right: 10px;
	}
}

.Ostudio {
	background: transparent linear-gradient(135deg, #FB33D3 0%, #BF03B1 49%, #5D0156 100%) 0% 0% no-repeat padding-box
}

.Ostudio path {
	fill: #ffffff;
}

.Ocademy {
	background: transparent linear-gradient(134deg, #00FFA8 0%, #10DB96 38%, #067A55 100%) 0% 0% no-repeat padding-box
}

.Ocademy path {
	fill: #ffffff;
}

.Ovnet {
	background: transparent linear-gradient(135deg, #22D3F8 0%, #014EF9 48%, #0031a1 100%) 0% 0% no-repeat padding-box
}

.Ovnet path {
	fill: #ffffff;
}

.Orchives {
	background: transparent linear-gradient(135deg, #f1d740 0%, #f4883b 51%, #db4220 100%) 0% 0% no-repeat padding-box
}

.Orchives path {
	fill: #ffffff;
}

.OvironSpace {
	background: transparent linear-gradient(225deg, #F1D740 0%, #F4883B 11%, #BF03B1 26%, #014ef9 82%, #22d3f8 100%) 0% 0% no-repeat padding-box
}

.OvironSpace path {
	fill: #ffffff;
}

.range {
	margin-top: 32px;

	&--step1 h6 span {
		color: #22D3F8
	}
	&--step2 h6 span {
		color: #014EF9;
	}
	&--step3 h6 span {
		color: #bf06b1
	}
	&--step4 h6 span {
		color: #FB33D3
	}
	&--step5 h6 span {
		color: #DB4220
	}
	&--step6 h6 span {
		color: #F1D740;
	}

	ul {
		padding: 0;
	}
	li:not(.main) {
		margin-left: 55px;
		list-style-type: disc;
	}
}

.swiper-pagination {
	width: 100%;
	height: 1rem;
	border-radius: 8px;
	background-color: #5D617D;
}

	.zero,
	.one,
	.two,
	.three,
	.four,
	.five {
		background-color: #22D3F8;
		height: 1rem;
		border-radius: 8px;
	}

	.zero {
		width: 3%
	}

	.one {
		width: 20%;
	}
	.two {
		width: 40%
	}
	.three {
		width: 60%
	}
	.four {
		width: 80%
	}
	.five {
		width: 100%
	}

.bar {
	content: ' ';
	width: 100%;
	height: 1rem;
	background-color: #5D617D;
	border-radius: 8px;
}

.ranges {
	display: flex;
	overflow: hidden;
}